.vscode/**
.vscode-test/**
src/**
dev/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
out/**
specs/**
*.vsix
.git/**
.github/**
esbuild.js
*.md
!README.md
